/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root.md {
    --ion-background-color: #ccc;
    --ion-text-color: #000;
    --ion-toolbar-color: #8c8c8c !important;
    --ion-toolbar-background: #000;
}

ion-icon {
    color: #000;
}

ion-icon.hydrated {
    color: var(--ion-toolbar-color);
}